body {background-color:black;font-family:arial;}
h1{color:grey;font-family:verdana;}

label{
    display:inline-block;
    width:120px;
   padding-left: 80px;
}

.maindiv{
    background-color:white;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
    
}
.compute_button{
    padding-left: 80px;
}
